<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="box">
  <button class="backbutton" (click)="onGoBack()"><< Back</button>
  <div class="single-location-pane">
    <img [src]="location?.imageUrl" alt="">
    <div class="single-location-info">
      <h1>{{ location?.title }}</h1>
      <p>{{ location?.description }}</p>
      <button class="btn btn-success m-1" (click)="onModify()" [disabled]="part >= 3 && userId !== location?.userId">Modify</button>
      <button class="btn btn-danger m-1" (click)="onDelete()" [disabled]="part >= 3 && userId !== location?.userId">Delete</button>
    </div>
    <div class="review-box">
      <app-reviews-list></app-reviews-list>
    </div>
  </div>
</div>
