<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading">
  <button class="backbutton" (click)="onGoBack()"><< Back</button>
  <div class="single-location-pane">
    <img [src]="location?.imageUrl" alt="">
    <div class="single-location-info">
      <h1>{{ location?.title }}</h1>
      <p>{{ location?.description }}</p>
      <div id="outerstarbox">
        <div class="innerstarbox"><h1>Review 1</h1></div>
        <div class="innerstarbox"><h1>Review 2</h1></div>
        <div class="innerstarbox"><h1>Review 3</h1></div>
        <div class="innerstarbox"><h1>Review 4</h1></div>
        <div class="innerstarbox"><h1>Review 5</h1></div>
      </div>
      <button class="btn btn-success m-1" (click)="onModify()" [disabled]="part >= 3 && userId !== location?.userId">Modify</button>
      <button class="btn btn-danger m-1" (click)="onDelete()" [disabled]="part >= 3 && userId !== location?.userId">Delete</button>

      <app-reviews-list></app-reviews-list>

    </div>
  </div>
</div>
