.rectangle{
  background-color: #0063FF;
  width: 95%;
  height: 7%;
  border-radius: 40px;
  margin-top: 20.75%;
  margin-left: 2%;
	/*Lets Go Text*/
	padding: 1%;
	color: #fff;
	font-weight: bold;
	font-size: 140%;
}
