<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="locations.length <= 0 && !loading">No locations for sale!</p>
<div class="locations-list" *ngIf="locations.length >= 0">
  <div class="location-box">
  <div class="location-pane" style="height:20%;"
       *ngFor="let location of locations"
       [ngClass]="{'open': location._id === chosenId}"
       [ngStyle]="{}"
       (click)="onProductClicked(location._id)">
         <div>
           <img src="{{location.imageUrl}}" style="max-width:17%; max-height:15%;">
         <h1 style="padding-left: 5%; display:inline;">
           {{ location.title }}
         </h1>
         <div class="location-info" style="padding-left: 25%;">
           <h2>

             {{ location?.description }}
           </h2>
         </div>
         </div>
  </div>
  </div>
</div>
