<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="locations.length <= 0 && !loading">No locations for sale!</p>
<div class="locations-list" *ngIf="locations.length >= 0">
  <div class="location-box">
  <div class="location-pane"
       *ngFor="let location of locations"
       [ngClass]="{'open': location._id === chosenId}"
       [ngStyle]="{'background-image': 'url(' + location.imageUrl + ');background-size:  30% 100%;'}"
       (click)="onProductClicked(location._id)">
       <h3 style="padding-left: 25%">
         {{ location.title }}
       </h3>
       <div class="location-info">
         <h5>

           {{ location?.description }} {{ location.price / 5 }}
         </h5>
       </div>
  </div>
  </div>
</div>
