<header>
  <h1 class="header-title">
    AddLocs&Revs
  </h1>
  <ul class="header-navigation">
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/all-stuff" routerLinkActive="active">Locations</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/new-thing" routerLinkActive="active">AddLocs&Revs</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" style="cursor: pointer" (click)="onLogout()">LOGOUT</a>
    </li>
    <li class="header-navigation-item" *ngIf="!isAuth">
      <a class="header-link" routerLink="/auth/login" routerLinkActive="active">LOGIN</a>
    </li>
    <li class="header-navigation-item" *ngIf="!isAuth">
      <a class="header-link" routerLink="/auth/signup" routerLinkActive="active">SIGN UP</a>
    </li>
  </ul>
  <ul class="header-navigation nav-end">
    <li class="header-navigation-item font-italic">
      <a class="header-link" style="cursor:pointer" (click)="onBackToParts()">BACK TO PART SELECTION</a>
    </li>
  </ul>
</header>
<div  *ngIf="mode === 'list'">

  
</div>
