<header>
  <h1 class="header-title">
    Let's Go byBike
  </h1>
  <ul class="header-navigation">
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/all-locations" routerLinkActive="active">Locations</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" routerLink="/new-location" routerLinkActive="active">Admin</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <a class="header-link" style="cursor: pointer" (click)="onLogout()">LogOut</a>
    </li>
    <li class="header-navigation-item" *ngIf="isAuth">
      <input class="header-searchbar" type="text" placeholder="Search..">
    </li>
    <li class="header-navigation-item" *ngIf="!isAuth">
      <a class="header-link" routerLink="/auth/login" routerLinkActive="active">LogIn</a>
    </li>
    <li class="header-navigation-item" *ngIf="!isAuth">
      <a class="header-link" routerLink="/auth/signup" routerLinkActive="active">SignUp</a>
    </li>
  </ul>
  <ul class="header-navigation nav-end">
        <li class="header-navigation-item font-italic">
      <a class="header-link" style="cursor:pointer" (click)="onBackHome()">HOME</a>
    </li>
  </ul>

</header>

<div class="page-grid" style="display:inline">
  <app-sidebar *ngIf="isAuth"></app-sidebar>
</div>
