<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="col-sm-6 offset-sm-3 mt-2 main">
  <div class="locationbarshort">
    <h1>Help us with a review</h1>
  </div>
  <form [formGroup]="reviewForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" placeholder="Briefly title your review" id="title" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description"
                id="description"
                cols="30" rows="7"
                class="form-control reviewtextbox"
                formControlName="description"
                placeholder="What was your experience like? Add review here..."></textarea>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="reviewForm.invalid">Submit Review</button>
    <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>

<!-- <textarea type="text" id= "reviewtextbox" placeholder=""></textarea> -->
<!-- Make id to class reviewtextbox -->
